:root.theme-dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --decor-color: #FF0070;
  --title-decor-text: #000028;
  --section-title-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}
