:root.theme-dark {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --decor-color: #FF0070;
  --background: #000028;

  --bg-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --text-color: #F1B2CE;
    --decor-color: #FF0070;
    --background: #000028;

    --bg-image: url(../images/cover-image-dark.png);
  }
}
