/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --background-img: url("../images/cover-image-light.png");
    --decoration-color: #353430;
    --theme-menu: #353430;
    --theme-menu-hover: #35343066;
    --no-focus-text: #FFC2E6;
    --title-text: #353430;
    --accent-color: #FF8DCB;
    --info-title: #353430;
    --info-text: #353430;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
